.logo {
    width: 120%;
}

.jumbotron {
    background-color: white;
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
}

.navbar-brand {
    font-family: 'Open Sans';
}

.webtiger {
    width: 90px;
    height: 40px;
    margin-top: -8px;
}

.contact-page {
    background-color: white;
    background-image: url("../images/mountains.png");
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
    color: white;
}

.services-page {
    background-color: white;
    background-image: url("../images/mouse.jpg");
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
    color: white;
}

.about-page {
    background-color: white;
    background-image: url("../images/desk.jpg");
    background-size:cover;
    background-position:center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.row-spacing {
    padding: 15px 10px;
}

.row-container {
    margin: 20px;
    padding: 20px;
}

.jumbo-container {
    margin: 20px 20px 0 20px;
    padding: 20px 20px 0 20px;
}

.row-color {
    background-color: #efefef;
    text-align: center;
}

.fa {
    font-size: 50px;
}

.jumbotron, h1 {
    margin-top: -10px;
}

.heading {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.grey {
    background-color: #efefef;
}

.iphone {
    width: 150%;
}

.contact-button {
margin-top: -5px;
}

legend {
    text-align: center;
}

footer {
    width: 100%;
    height: 55px;
    background-color: #fd9025;
    color: white;
}

.footer-icons {
    color: #FFF;
    padding: 20px;
    font-size: 15px;
}

.silver {
    color: grey;
}

.gold {
    color: orange;
}

.bronze {
    color: brown;
}

@media (max-width: 1000px) {
    .logo {
        width: 80%;
        margin-top: 50px;
    }
    
    footer {
        height: 80px;
    }
    
    .footer-icons {
        font-size: 25px;
    }
}